fort.*
*.o
*~
\#*
.#*
.*.sw[opn]
.sw[opn]
*.mod
int[0-9]
tags
*.so
*.msh
*.pyc
*module.c
*vt[us]
*.sess
*.silo
*.dat
*.npy
Mako-*
gmon.out
*.db
*log
*.aux
*.mat
*.mat.gz
paper.pdf
*.pickle
*.mex*
a.out
.DS_Store
